/* Adding custom css styling  */

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

/* DELETE BUTTON CAMPGROUND/COMMENTS STYLE */
.delete-form{
    display: inline;
}